<head>
    <meta charset="UTF-8">
    <title>About</title>
    <STYLE type="text/css">
         body {
                    background: rgba(53, 53, 53, 0.92) url("http://media.oregonlive.com/environment_impact/photo/japan-earthquake-18023587jpg-ffa7d89a432e629f.jpg") fixed;
                    background-repeat: no-repeat;
                }
         h2 {color: ghostwhite;
            }
         h3 {color: ghostwhite;
            }
    </STYLE>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<nav class="w3-bar w3-black">
  <a href="/" class="w3-bar-item w3-button">Home</a>
  <a href="/map/date" class="w3-bar-item w3-button">MapByDate</a>
  <a href="/text/date" class="w3-bar-item w3-button">InfoByDate</a>
  <a href="/about" class="w3-bar-item w3-button">About</a>
</nav>
<h1>The site is fully working and might be probably updated to work faster in future.</h1>
<h2>Site limits: first time you want to generate map or text which duration is more then 1 day it takes some time to generate it.</h2>
<h2>About prediction: it is based on last information about earthquakes in different regions and gives the results that are probably close to real one</h2>
<h2>At the bottom of text information you can see summarize about info given upper. </h2>
<h3>The API i have used for this site is https://earthquake.usgs.gov/fdsnws/event/1</h3>
<h3>This site is done by Ilchuniak Arsen as a course work for 1st course in UCU university.</h3>
</body>
