<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Create a new question</title>
    <STYLE type="text/css">
                body {
                    background: white url("https://www.nationalgeographic.com/content/dam/science/2019/04/17/earthquake/01-earthquake-gettyimages-145949283.ngsversion.1555612772640.adapt.1900.1.jpg") fixed;
                    background-repeat: no-repeat;
                }
    </STYLE>
</head>
<body>
    <h2>Please put the date of earthquakes</h2>
    <form method="post">
        <div>
            <label for="date">Date</label>
            <input name="date" type="text"/>
        </div>

        <div>
            <button type="submit">Submit question</button>
        </div>
    </form>
</body>
</html>
