<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Create a new question</title>
    <STYLE type="text/css">
                body {
                    background: white url("https://www.nationalgeographic.com/content/dam/science/2019/04/17/earthquake/01-earthquake-gettyimages-145949283.ngsversion.1555612772640.adapt.1900.1.jpg") fixed;
                    background-repeat: no-repeat;
                }
    </STYLE>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <nav class="w3-bar w3-black">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="/map/date" class="w3-bar-item w3-button">MapByDate</a>
      <a href="/text/date" class="w3-bar-item w3-button">InfoByDate</a>
      <a href="/about" class="w3-bar-item w3-button">About</a>
    </nav>
    <h2>Please put the date of earthquakes</h2>
    <form method="post">
        <div>
            <label for="date">Date</label>
            <input name="date" type="text"/>
        </div>

        <div>
            <button type="submit">Submit question</button>
        </div>
    </form>
</body>
</html>
